{% extends "LiderApp/padre.html" %}
{% load static %}
{% block lema %}Will Rock Your Socks Off{% endblock %}

{% block contenido %}
<p></p>
<h2>Únete a nuestra comunidad de líderes</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>

<form action="{%  url 'masterclass' %}" method="POST"> {% csrf_token %}
    <table>
        {{lider_formulario.as_table}}
    </table>
    <input type="submit" value="Enviar"> 
</form>

{% endblock %}