{% extends "LiderApp/padre.html" %}
{% load static %}
{% block lema %}Hola{% endblock %}
{% block contenido %}
<p></p>
<h1 style="color:fuchsia">Disfruta de Masterclass</h1>
<h2 style="color:black">Principios de Crecimiento y Liderazgo</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>

<form action="{%  url 'principios' %}" method="POST"> {% csrf_token %}
    <table>
        {{principios_formulario.as_table}}
    </table>
    <input style="color:fuchsia" type="submit" value="Enviar"> 
</form>

{% endblock %}